div.theme.whole
  div.theme.headers
  div.outerBoard
    div.theme.board
    div.theme.buttons
    div.theme.edit
  div.moves
    span.move.white
    span.move
    div.variation
      span.move
      span.move.white
      ...
    ...

Here only one move

span
  span.moveNumber
    = . SAPCE
  span.comment
    = commentText
  a#id
    = san (+ nag)
  = SPACE
  span.comment
    = commentText
  div.diagram